body {
    background-color: #212830;
}

header{
    background-color: #151b23;
}

p,pre,h1,h2,h3,h4,h5,h6,h7,a,label,loginModalLabel,small, button{
    color: #d1d7dd !important;
}

.modal_href{
    color: #00bcd4!important;
}

.btn-close.cyan {
    background: none; /* убрать стандартный SVG */
    color: #00bcd4;
    font-size: 2em;
    line-height: 1;
    position: relative;
    top: -2px;
}


.modal-content{
    background-color: #212830;
}

.del_button {
    color: orangered;
}

.del_button:hover {
    color: orangered;
}

.x3dom-canvas,.three-canvas, iframe{
    border-style: solid;
    background-color: #2a313c;
    border-radius: 4px;
    border-color: #212830;
    border-width: 1px;
}

.card, .container_reg {
    background-color: #383f48;
    position: relative;
}

.post-card-link {
    text-decoration: none;
    color: inherit;
}

.post-card:hover {
    box-shadow: 0 8px 10px rgba(0, 188, 212, .5);
    background-color: #363741;
}

.dropdown-menu {
    background-color: #383f48;
}

.dropdown-item:hover {
    background-color: #00bcd4;
}

.container_reg {
    border-color: #00bcd4;
}

.preview-section, .code-section, .comments-section{
    background-color: #383f48!important;
}

#options_post:hover {
  color: #00bcd4!important;
}

.modal_href{
    color: #00bcd4!important;
}
