<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title w-100" id="loginModalLabel">Войдите или зарегистрируйтесь</h5>
        <button type="button" class="btn-close cyan" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
      </div>
      <div class="modal-body">
        <p>Чтобы ставить лайки, вам нужно <a class="modal_href" href="/login">войти</a> или <a class="modal_href" href="/register">зарегистрироваться</a>.</p>
      </div>
    </div>
  </div>
</div>
