{% extends 'base2.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

<section class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white py-20 text-center mt-3">
  <h1 class="text-5xl font-bold mb-4">Твори в 3D. Делись. Вдохновляй.</h1>
  <p class="text-xl mb-6">Создавай интерактивные сцены на Three.js и X3DOM, прямо в браузере</p>
  <button onclick="window.location.href='{{ url_for('newpost') }}'" class="btn btn-send inline-block">Создать проект</button>
</section>

<!-- Популярные посты -->
<section class="py-16 px-4 max-w-7xl mx-auto">
  <h2 class="text-3xl font-bold mb-8 mt-3 container">Популярные проекты</h2>

  {% if posts %}
    {% include "includes/post_cards.html" %}
  {% else %}
    <p class="text-gray-500 text-center">Пока нет проектов. Будь первым!</p>
  {% endif %}
</section>

<h2 class="text-2xl font-bold mb-4 text-center">Попробуй прямо сейчас!</h2>

<!-- Скрипт -->
<script src="https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.min.js"></script>
<script src="http://www.x3dom.org/release/x3dom-full.js"></script>
<!-- Подключение jQuery  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--Копирование ссылки на пост-->
<script src="{{ url_for('static', filename='js/copy_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_flash_message.js') }}"></script>

<script src="{{ url_for('static', filename='js/postCardRedirect.js') }}"></script>

<script src="{{ url_for('static', filename='js/datetime-utils.js') }}"></script>
<script src="https://unpkg.com/three@0.157.0/build/three.min.js"></script>
<script src="../static/js/likePost.js"></script>

{% endblock %}
