{% extends 'base2.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block body %}
<div class="container_reg">
    <h1>Авторизация</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div id = "block1">
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                {% for msg in get_flashed_messages(category_filter=['name']) %}
                <div class="flash"> {{msg}} </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for msg in get_flashed_messages(category_filter=['password']) %}
                <div class="flash"> {{msg}} </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-registration") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}