{% extends 'base2.html' %}

{% block title %}
Лента постов
{% endblock %}

{% block body %}
<div id="postsContainer">
    <div class="container p-4 pb-0">
        <!-- Кнопка для изменения порядка сортировки -->
        <button id="DataSort" onclick="toggleSort()">Data ↓↑</button>
        <p>Current Sort Value: {{ sort }}</p>
    </div>
    {% include "includes/post_cards.html" %}
</div>
<script src="https://www.x3dom.org/download/dev/x3dom-full.js"></script>
<!-- Подключение jQuery  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- скрипт для смены сортировки постов по дате -->
<script>
    function toggleSort() {
        // Получаем текущий порядок сортировки из URL
        var currentSort = "{{ sort }}" || "desc";
        const but_txt = document.getElementById('DataSort');

        // Переключаем между значениями сортировки
        currentSort = (currentSort === "asc") ? "desc" : "asc";

        // Обновляем URL с новым значением сортировки без перезагрузки
        var url = "{{ url_for('posts', sort='') }}" + currentSort;
        window.history.replaceState({}, document.title, url);

        // Перезагружаем страницу
        location.reload();
    }
</script>

<!--Копирование ссылки на пост-->
<script src="{{ url_for('static', filename='js/copy_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_flash_message.js') }}"></script>

<script src="{{ url_for('static', filename='js/postCardRedirect.js') }}"></script>
<!--Удаление поста-->
<script src="{{ url_for('static', filename='js/del_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/datetime-utils.js') }}"></script>
<script src="https://unpkg.com/three@0.157.0/build/three.min.js"></script>
<script src="../static/js/likePost.js"></script>
{% endblock %}