{% extends 'base2.html' %}

{% block title %}
{{post.title}} | {{user.username}} | Code3d.ru
{% endblock %}

{% block body %}
{% set user_liked = post.post_id in liked_post_ids %}

<!-- Подключение jQuery  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_style.css') }}">
<!-- CodeMirror CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/material.min.css">
<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/xml/xml.min.js"></script>

{% if post.technology3d == 'x3dom' %}
<!-- X3DOM -->
<link rel="stylesheet" href="https://www.x3dom.org/download/x3dom.css">
<script src="https://www.x3dom.org/download/x3dom.js"></script>
<script src="https://www.x3dom.org/download/dev/x3dom-full.js"></script>
<script src="../static/js/x3d_run_code.js"></script>
{% elif post.technology3d == 'three.js' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="../static/js/3js_run_code.js"></script>
{% endif %}

<center>
    {% if post.technology3d == 'x3dom' %}
    <div class="x3dom-container pt-4 ps-3 pe-3">
        <!-- Левая колонка -->
        <div class="preview-section">
            <x3d id="x3d-container" width="100%" height="70vh">
                {{post.code3d|safe}}
            </x3d>
            {% include 'includes/post_actions.html' %}
        </div>

        <!-- Правая колонка -->
        <div class="code-section">
            <textarea id="x3d-editor">{{post.code3d}}</textarea>

            <div class="controls">
                <button id="x3d-run-button">Обновить сцену</button>
                <div id="x3d-output"></div>
            </div>
        </div>
    </div>
    {% include 'includes/post_comments.html' %}

    {% elif post.technology3d == 'verge3d' %}
    <div class="verge3d-container pt-4 ps-3 pe-3">
        <!-- Просмотр 3D-сцены -->
        <div class="preview-section">
            <iframe id="Okno" allowfullscreen src="{{ post.code3d|safe }}" width="100%" height="600vh"
                    style="border: none;"></iframe>
            <!-- Кнопки действий -->
            {% include 'includes/post_actions.html' %}
        </div>
    </div>
    {% include 'includes/post_comments.html' %}

    {% elif post.technology3d == 'three.js' %}
    <div class="threejs-container pt-4 ps-3 pe-3">
        <!-- Левая колонка -->
        <div class="preview-section">
            <div id="canvas-container"></div>
            {% include 'includes/post_actions.html' %}
        </div>

        <!-- Правая колонка -->
        <div class="code-section">
            <textarea id="3js-editor">{{post.code3d}}</textarea>

            <div class="controls">
                <button id="3js-run-button">Запустить код</button>
                <div id="3js-output"></div>
            </div>
        </div>
    </div>
    {% include 'includes/post_comments.html' %}
    {% endif %}
</center>

<div class="p-3">
    <div>
        <h1>{{post.title}}</h1>
    </div>
    <pre id="content">{{post.content}}</pre>
</div>


<script src="../static/js/toggleComments.js"></script>
<script src="{{ url_for('static', filename='js/copy_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_flash_message.js') }}"></script>
<script src="../static/js/likePost.js"></script>

{% endblock %}