{% extends 'base2.html' %}

{% block title %}
{{ user.username }}'s Profile
{% endblock %}

{% block body %}
<!--<p>Phone number: {{ user.phone_number or 'N/A' }}</p>-->
<!--
<div class="row">
      <div class="col-lg-2">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
            <p class="text-muted mb-1">{{ user.first_name + ' ' + user.last_name }}</p>
            <p class="text-muted mb-4"><a>Подробнее</a></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.last_name + ' ' + user.first_name + ' ' + user.father_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
-->

<section>
    <div class="container py-4">
        <div class="row justify-content-center" class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ user.username}}</h5>
                        <p class="mb-1">{{ user.first_name + ' ' + user.last_name }}</p>
                        <a id="info_user_button" class="mb-4">Подробнее</a>
                        <!--

                        <div class="d-flex justify-content-center mb-2">
                          <button type="button" class="btn btn-primary">Follow</button>
                          <button  type="button" class="btn btn-outline-primary ms-1">Подробнее</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="info_user" class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Полное имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0">{{ user.last_name + ' ' + user.first_name + ' ' +
                                    user.father_name}}</p>
                            </div>
                        </div>
                        {% set label = "Email" %}
                        {% set value = user.email %}
                        {% include 'includes/user_info_row.html' %}

                        {% set label = "ID" %}
                        {% set value = user.user_id %}
                        {% include 'includes/user_info_row.html' %}

                        {% set label = "Дата регистрации" %}
                        {% set value = user.created_at.strftime('%Y-%m-%d %H:%M:%S') %}
                        {% include 'includes/user_info_row.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/post_cards.html" %}
</section>


<script src="{{ url_for('static', filename='js/open_user_info.js') }}"></script>
<script src="https://www.x3dom.org/download/dev/x3dom-full.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/postCardRedirect.js') }}"></script>
<!--Копирование ссылки на пост-->
<script src="{{ url_for('static', filename='js/copy_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_flash_message.js') }}"></script>
<!--Удаление поста-->
<script src="{{ url_for('static', filename='js/del_post.js') }}"></script>
<script src="../static/js/likePost.js"></script>
<script src="{{ url_for('static', filename='js/datetime-utils.js') }}"></script>
<script src="https://unpkg.com/three@0.157.0/build/three.min.js"></script>
{% endblock %}