{% extends 'base2.html' %}

{% block title %}
Форум
{% endblock %}

{% block title2 %}
Эта страница доступна только авторизованным пользователям.
{% endblock %}

{% block body %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="text-center p-4" style="max-width: 600px;">
        <h1 class="display-4 fw-bold mb-4">ERROR :(</h1>
        <h5 class="mb-4">Эта страница доступна только авторизованным пользователям.</h5>
        <img src="https://i.postimg.cc/y63BBV9G/404.png" class="img-fluid mb-4" style="max-width: 300px;">
    </div>
</div>
{% endblock %}